body {
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #A7A7C8;
    background-color: #050622;
}
body.no-scroll {
    overflow: hidden;
}
.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #564FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.28;
    transition: .3s;
}
.btn:hover {
    background: transparent;
    outline: 1px solid #564FFF;
}
.title {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.27;
    color: #FFFFFF;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #050622fa;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.modal__wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
}
.modal__body{
    position: relative;
    max-width: 762px;
    min-height: 544px;
    width: 100%;
    padding: 64px 0 57px;
    background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.11));
    border-radius: 15px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg); 
}
.modal__body.active{
    transform: translate(0,0) perspective(600px) rotateX(0deg);
    opacity: 1;
    visibility: visible;
}
.modal.active{
    opacity: 1;
    visibility: visible;
}
.modal__title {
    margin-bottom: 40px;
}
.modal__text {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.27;
    color: #FFFFFF;
    text-align: center;
}
.modal__text span {
    background-image: linear-gradient( 90deg, #18BAFF, #4500D9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}
.form input {
    background: rgba(86, 79, 255, 0.15);
    border: 1px solid #564FFF;
    border-radius: 5px;
    padding: 28px;
    width: 100%;
    color: #fff;
}
.form input::placeholder {
    font-family: 'TT Interfaces';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    color: #fff;
}
.form input:focus::placeholder {
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.input__login {
    width: 68.5%;
}
.input__key {
    width: 68.5%;
}
.form__btn {
    width: 170px;
    height: 62px; 
}
.form__text {
    text-align: center;
}
.form__text-link {
    color: #564FFF;
}
.header {
    padding: 45px 0 0 0;
    min-height: 100vh;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.header-top__btns {
    display: flex;
    column-gap: 20px;
}
.telegram__btn {
   padding: 13px 23px;
}
.account {
    min-height: 44px;
    padding: 13px 22px;
    background: rgba(86, 79, 255, 0.15);
    border: 1px solid #564FFF;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    line-height: 1.28;
    transition: .3s;
    white-space: nowrap;
}
.account:hover {
    background: #564FFF;
}
.header__content-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info-content__descr {
    align-self: center;
}
.info-content__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    color: #FFFFFF;
    line-height: 1.28;
    margin-bottom: 14px;
}
.info-content__title span {
    background-image: linear-gradient( 90deg, #18BAFF, #4500D9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-content__text {
    max-width: 563px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 26px;
}
.info-content__values {
    display: flex;
    flex-wrap: wrap;
    column-gap: 47px;
}
.values-content__item {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.27;
    color: #fff;
}
.values-content__item span {
    display: block;
    background-image: linear-gradient( 90deg, #18BAFF, #4500D9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
}
.info-content__img {
    flex-basis: 774px;
}
.info-content__img img {
    width: 100%;
    object-fit: cover;
}
.benefits-content__title {
    margin-bottom: 54px;
}
.benefits-content__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.benefits-content__item {
    position: relative;
    background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
    padding: 57px 57px 62px 34px;
}
.benefits-content__item::before {
    content: '';
    position: absolute;
    top: -33px;
    left: 33px;
    width: 66px;
    height: 66px;
    background: url(../img/icons/02.svg) no-repeat;
    object-fit: cover;
}
.benefits-content__item:first-child::before {
    background-image: url(../img/icons/01.svg);
}
.benefits-content__item:last-child::before {
    background-image: url(../img/icons/03.svg);
}
.item-content__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.29;
    color: #fff;
    margin-bottom: 11px;
}
.item-content__text {
    max-width: 300px;
}
/*platform*/
.platform {
    padding: 60px 0 48px 0;
    background: #050622
}
.platform__title {
    margin-bottom: 60px;
}
.platform__android {
    margin-bottom: 50px;
}
.platform__android,
.platform__ios {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.platform__android-img, .platform__ios-img {
    flex: 0 1 566px;
}
.platform__android-img img {
    width: 100%;
    object-fit: cover;
}
.platform__android-body,
.platform__ios-body {
    flex: 0 1 566px;
    padding-top: 30px;
    
}
.platform__android-title, .platform__ios-title {
    position: relative;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.28;
    color: #fff;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.platform__android-text, .platform__ios-text {
    margin-bottom: 21px;
}
.platform__android-subtitle, .platform__ios-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin-bottom: 11px;
}
.list-android, .list-ios {
    margin-bottom: 30px;
}
.list-android-item {
    position: relative;
}
.list-android-item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #A7A7C8;
}
.android__buy, .ios__buy {
    display: flex;
    column-gap: 24px;
}
.android__buy-btn, .ios__buy-btn {
    padding: 19px 65px;
}
.buy-text__link{
    color: #564FFF;   
}
.list-ios-item {
    position: relative;
}
.list-ios-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #A7A7C8;
}
.platform__ios-img img {
    width: 100%;
    object-fit: cover;
}
/*tariffs*/
.tariffs {
    padding: 36px 0 100px 0;
}
.tariffs__title {
    margin-bottom: 40px;
}
.tariffs__btns {
   display: flex;
   column-gap: 18px;
   justify-content: center;
   margin-bottom: 90px;
}
.tariffs__btn-android {
   flex: 0 1 169px;
   padding: 19px 10px;
}
.tariffs__btn-ios {
    flex: 0 1 169px;
    padding: 19px 10px;
}
.tariffs__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 70px;
    justify-content: center;
}
.tariffs__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 23px 0 0 0;
    background: linear-gradient(180deg, #1E2242 0%, rgba(30, 34, 66, 0) 100%);
    border-radius: 5px;
    max-width: 326px;
    width: 100%;
    min-height: 456px;
}
.tariffs__card::before {
    content: '';
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%);
    width: 29px;
    height: 33px;
    background-image: url(../img/icons/android.svg);
}
.tariffs__card--ultra::before {
    content: '';
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 33px;
    background-image: url(../img/icons/android+ios.svg);
}
.tariffs__card--ultra::after {
    content: '';
    position: absolute;
    top: -37px;
    right: -37px;
    width: 75px;
    height: 75px;
    background: url(../img/icons/star.svg) no-repeat center;
}
.tariffs__card-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 16px;
    text-align: center;
}
.tariffs__card-title--default {
    color: #fff;
}
.tariffs__card-title--normal {
    color: #FFB800;
}
.tariffs__card-title--ultra {
    color: #FF2525;
}
.tariffs__card-list {
    padding: 0 20px 0 30px;
}
.list-card__item {
    position: relative;
    font-size: 16px;
    line-height: 1.25;
}
.list-card__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #A7A7C8;
}
.list-card__item + .list-card__item {
    margin-top: 10px;
}
.list-card__item--default {
    color: #fff;
}
.list-card__item--normal {
    color: #FFB800;
}
.list-card__item--ultra {
    color: #FF2525;
}
.tariffs__card-price {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.tariffs__card-term {
    text-align: center;
    font-size: 17px;
    line-height: 1.23;
}
.tariffs__card-term--default {
    color: #fff;
}
.tariffs__card-term--normal {
    color: #FFB800;
}
.tariffs__card-term--ultra {
    color: #FF2525;
}
.tariffs__card-link {
    background: linear-gradient(106.14deg, #18BAFF 20.27%, #564FFF 78.28%);
    border-radius: 5px;
    color: #fff;
    padding: 27px 85px;
    margin-top: 30px;
    transition: .3s;
}
.tariffs__card-link:hover {
   color: #FFB800;
}
.modal-buy {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #050622fa;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.modal-buy.active{
    opacity: 1;
    visibility: visible;
}
.input__email {
    width: 68.5%;
}
/*questions*/
.questions {
    padding-bottom: 82px;
}
.questions__title {
    margin-bottom: 43px;
    
}
.questions__item {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 34px 0;
    background: linear-gradient(180deg, #1E2242 0%, #1E2242 100%);
    border-radius: 5px;
}
.questions__item + .questions__item {
    margin-top: 18px;
}
.questions__item-title {
    padding: 30px 0 31px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    cursor: pointer;
}
.questions__item-title::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 40px;
    width: 24px;
    height: 24px;
    background: url(../img/icons/plus.svg) no-repeat center;
}
.questions__item-title.clicked {
    padding-bottom: 18px;
}
.questions__item-title.clicked::after {
    background: url(../img/icons/minus.svg) no-repeat center;
}
.questions__text {
    font-size: 16px;
    line-height: 1.25;
    visibility: hidden;
    opacity:0;
    height:0;
    overflow:hidden;
    transition: .5s;
}
.questions__text.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: none;
    padding-bottom: 26px;
}
/*footer*/
.footer-inner {
    text-align: center;
    padding-bottom: 54px;
}
.footer__btn {
    margin-bottom: 37px;
}
.footer__icons {
    margin-bottom: 22px;
}
.footer__icons img:not(:last-child) {
    margin-right: 33px;
}
.footer__text {
    max-width: 342px;
    margin: 0 auto;
}
